<header>
    <nav class="navbar navbar-dark fixed-top">
        <a class="navbar-brand" href="#">Carlos Arauz</a>
        <button class="navbar-toggler navbar-toggler-right bg-dark" id="navbarSideButton" type="button" >
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="navbar-side bg-secondary" id="navbarSide">
            <div class="navbar-nav">
                <i id="navbarCloser" class="fa fa-window-close fa-2x" aria-hidden="true"></i>
                <a class="navbar-side-item side-link" href="#section-link2" scroll-to="250">Active</a>
                <a class="navbar-side-item side-link" href="#section-link2" scroll-to="500">Link</a>
                <a class="navbar-side-item side-link" href="#section-link2" scroll-to="750">Link</a>
                <a class="navbar-side-item side-link" href="#section-disable" scroll-to="3000">Disabled</a>
            </div>
            <!-- insert more side-items if you so choose -->
        </div>
        <div class="overlay"></div>
    </nav>
</header>
