<header  data-0="background-color: rgba(0,0,0,0);position: absolute;" data-40="position: fixed;" data-100="background-color: rgba(0,0,0,1);">
    <nav class="nav justify-content-end">
        <a class="nav-link mr-auto" href="http://google.com">Carlos Arauz</a>
        <a class="nav-link" href="#section-link2" scroll-to="250">Active</a>
        <a class="nav-link" href="#section-link2" scroll-to="500">Link</a>
        <a class="nav-link" href="#section-link2" scroll-to="750">Link</a>
        <a class="nav-link" href="#section-disabled" scroll-to="4625">Disabled</a>
    </nav>
</header>
