<section id="section-0" class="page-section">
  <div id="banner" class="container-fluid header-1" style="overflow: hidden;z-index: -10">
    <div id="verse-1" class="container verse">
      <h1 class="display-4">{% t main.section0.verse1 %}</h1>
      <h2 class="text-right">&mdash;{% t main.section0.lead1 %}</h2>
    </div>
    <div id="verse-2" class="container verse pull-right text-right">
      <h1 class="display-4">{% t main.section0.verse2 %}</h1>
      <h2 class="text-right">&mdash;{% t main.section0.lead2 %}</h2>
    </div>
    <div id="verse-3" class="container verse">
      <h1 class="display-4">{% t main.section0.verse3 %}</h1>
      <h2 class="text-right">&mdash;{% t main.section0.lead3 %}</h2>
    </div>
  </div>
</section>
