<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    {{ content }}
    {%- include footer.html -%}

    <!-- Bootstrap JS and jQuery -->
    <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>

    <!-- ScrollMagic and TweenMax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"
            integrity="sha256-AJvwDTgx+2JZWtsg4XDtKI2KFXST+2AosYiLBYde2PM="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"
            integrity="sha256-+bwq8Vn1b2Nz1mF35GyYCR3WP1zNBq6AX9P+rIR/vg8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"
            integrity="sha256-/6NS53KuMVgzxQozkNjhDjwcyDmv8Sk52zodr91uoo4="
            crossorigin="anonymous"></script>

    <script src="{{ "/assets/javascript/master.js" | relative_url }}"></script>
  </body>
  
</html>
